.bgDashboard{
    -fx-background-image: url("bgDashboard.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.banden{
    -fx-background-image: url("banden.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    
}

.gps{
    -fx-background-image: url("gps.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.noodstop{
    -fx-background-image: url("noodstop.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.schakelaars{
    -fx-background-image: url("schakelaars.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.tanken{
    -fx-background-image: url("tanken.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.vloeistoffen{
    -fx-background-image: url("vloeistoffen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.stuur{
    -fx-background-image: url("stuur.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.rotonde{
    -fx-background-image: url("rotonde.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;

}

.autostrade{
     -fx-background-image: url("autostrade.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.rotondeKlein{
     -fx-background-image: url("rotondeKlein.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.stad{
     -fx-background-image: url("stad.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.rijstroken{
     -fx-background-image: url("rijstroken.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}


.logo
{
 -fx-background-image: url("logo.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;   
}

.attitude{
    -fx-background-image: url("attitude.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;   
}

.back{
    -fx-background-image: url("back.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;   
}

.logout{
    -fx-background-image: url("logout.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;   
}