.bgRijtechniek{
    -fx-background-image: url("rijtechniekBG.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.achteruit{
    -fx-background-image: url("achteruit_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.garage{
    -fx-background-image: url("garage_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.keren{
    -fx-background-image: url("keren_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.kijken{
    -fx-background-image: url("kijken.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.koppeling{
    -fx-background-image: url("koppeling_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.parkeren{
    -fx-background-image: url("parkeren_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.rem{
    -fx-background-image: url("rem.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.schakelen{
    -fx-background-image: url("schakelen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.sturen{
    -fx-background-image: url("sturen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.stuuroefeningen{
    -fx-background-image: url("stuuroefeningen_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.vertrekkenHelling{
    -fx-background-image: url("vertrekkenHelling.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.zithouding{
    -fx-background-image: url("zithouding.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.bgSubPage{
    
    -fx-background-image: url("bgSubpages.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}