.bgVerkeerstechniek{
    -fx-background-image: url("verkeerstechniekBG.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.inhalen{
    -fx-background-image: url("inhalen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.kruisen
{
    -fx-background-image: url("kruisen.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.linksaf{
    -fx-background-image: url("linksaf.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.openbareWeg{
    -fx-background-image: url("openbareWeg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.pinkers{
    -fx-background-image: url("pinkers.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.rechtsaf{
    -fx-background-image: url("rechtsaf.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.snelheid{
    -fx-background-image: url("snelheid.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.tekensBevelen{
    -fx-background-image: url("tekensBevelen_1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.volgafstand{
    -fx-background-image: url("volgafstand.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.voorrang{
    -fx-background-image: url("voorrang.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.bgSubPage{
    
    -fx-background-image: url("bgSubpages.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}